{% with msg = get_flashed_messages() %}
{% if msg %}
{% for message in msg %}
<div class="row fixed-top">
    <div class="container-fluid">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <style>
            #btn-close:hover {background-color: rgb(243, 180, 97); transition: background 0.3s ease-in-out;}
          </style>
          <button type="button" class="btn-close btn" id="btn-close" style="margin-right: 4%; margin-top: -0.5rem;" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}