{% extends 'base.html' %}
{% block content %}
{% include 'message.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Request Book</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login-page.css') }}"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top pb-3">
        <a class="navbar-brand" href="#">Book Renewal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/bookRequest/{{ user_profile._id }}'>Request Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/{{ user_profile._id }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 form-container">
                <div class="signup-glass-container">
                    <div class="login-box">
                        <div class="d-flex align-items-center mb-3 pb-1">
                            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                            <span class="h1 fw-bold mb-0">
                              <img src="/static/assets/clg-logo.webp" style="max-width: 40%;" />
                            </span>
                        </div>

                        <form action="/bookRenewRequest/{{ user_profile.studentID }}" method="POST">
                            <div class="form-group">
                                <label for="studentID" style="float: left;">StudentID:</label>
                                <input type="text" class="form-control" id="studentID" name="studentID" value="{{ user_profile.studentID }}" placeholder="#700" readonly required>
                            </div>
                            
                            <div class="form-group">
                                <label for="bookID" style="float: left;">Enter BookID:</label>
                                <input type="text" class="form-control" id="bookID" name="bookID" required>
                            </div>

                            <button type="submit" class="btn btn-danger">Submit Request</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}